@model ASPdotNETMVCProject.Models.Customer
@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
	<h1>You are a customer</h1>
	<p class="lead">Congratulation you are already a customer. You cannot be more customer then you are already!</p>

</div>