@model ASPdotNETMVCProject.Models.Customer
@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
	<h1>We already have this user on the record</h1>
	<p class="lead">Make sure he is not a customer or a registered garage already!</p>

</div>