@model ASPdotNETMVCProject.Models.Customer
@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
	<h1> Oupsyyy!!</h1>
		<p class="lead">You need to provide a username!</p>

</div>
