@model ASPdotNETMVCProject.Models.Customer
@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
	<h1> Oupsyyy!!</h1>
		<p class="lead">The user needs to register before being added to a customer.</p>

</div>
