@model IEnumerable<ASPdotNETMVCProject.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers in our system</h2>


<div class="jumbotron">
	<h1>We are sorry you cannot see the list of customers</h1>
	<p class="lead">You can become a customer and then you information will be here.</p>

</div>