@model ASPdotNETMVCProject.Models.Garage
@{
	ViewBag.Title = "New";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
	<h1>You are a registered garage</h1>
	<p class="lead">Congratulation you are already a registred garage. You cannot register twice!</p>

</div>