@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Car Service Ligament</h1>
    <p class="lead">We put the pedal to the metal.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/Images/ataglance.jpg" />
        <h2>About us</h2>
        <p>
            We are a small startup from Montreal, QC looking to evolve with the most update technlogies so we can better serve you.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/whatweoffer.jpg" />
        <h2>What we offer</h2>
        <p>We aim to connect customers with quality automobile services such as car repair and maintenance at establishments you can trust.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="~/Images/satisfaction.png" />
        <h2>Our obligation to quality</h2>
        <p>Here at CSL, we guarantee your satisfaction. It is part of our company model to background check each garage listed on our application.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
</div>